<!DOCTYPE html>
<html>
<head>
  <title>I have a back bone</title>
</head>
<body>
  <form action="javascript:saveUrl();" method="POST">
    <label for="full_url">Enter URL:</label><input type="text" id="full_url" name="full_url" />
    <input type="submit" value="Submit" />
  </form>
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/underscore.js"></script>
  <script src="/scripts/backbone.js"></script>
  <script src="/scripts/test.js"></script>
</body>
</html>
